.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body,
h1,
h2,
p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

html {
  background-color: hsl(30, 38%, 92%);
}

main {
  min-height: 100vmin;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 700px;
  min-height: 350px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.product_image_desktop {
  width: 350px;
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
}

.product_image_mobile {
  display: none;
}

.details-container {
  width: 350px;
  padding: 2rem;
}

h2 {
  font-size: 1em;
  letter-spacing: 5px;
  margin-bottom: 1.5rem;
  font-family: "Montserrat";
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 2.3rem;
  font-family: "Fraunces";
  font-weight: 700;
  color: hsl(212, 21%, 14%);
}

p {
  font-size: 1.2em;
  line-height: 2em;
  margin-bottom: 2rem;
  font-family: "Montserrat";
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

.coast-container {
  font-family: "Fraunces";
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.coast-container > span:last-child {
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: lighter;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.button {
  font-size: 1rem;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 1rem 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button:hover {
  background-color: hsl(158, 37%, 23%);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  main {
    width: unset;
    height: unset;
    margin: 1rem;
  }
  body {
    width: unset;
  }
  .container {
    flex-direction: column;
    width: 100%;
  }

  .product_image_desktop {
    display: none;
  }

  .product_image_mobile {
    display: block;
    width: auto;
    height: fit-content;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
  }

  .details-container {
    width: fit-content;
    padding: 1rem;
  }

  h2 {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.1em;
    font-weight: normal;
  }

  .coast-container > span:last-child {
    margin-left: 1rem;
  }

  .attribution {
    position: relative;
    bottom: 0;
    font-size: 11px;
    text-align: center;
  }
}
